.container {
  background-color: #f5f6fa;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.watch {
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  transform: translateX(125px);
  width: 400px;
  padding: 40px;
  text-align: center;
}
.timer {
  width: 250px;
  font-size: 45px;
}
button {
  width: 250px;
  height: 40px;
  margin-top: 10px;
}

.laps {
  min-height: 100vh;
  width: 250px;
  background-color: white;
  border-left: 1px solid rgb(245, 246, 250);
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.lap {
  height: 30px;
}
.lapNumber {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.title {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid rgb(245, 246, 250);
  padding-bottom: 20px;
}
.notLapsFound {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.lapsContainer {
  overflow-y: scroll;
  display: flex;
  max-height: 90vh;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
